body {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background: url("/static/img/bgtile.png") repeat;
    color: #333;
    font-family: "Helvetica Neue","Arial",sans-serif;
}

a {
    text-decoration: none;
}

main {
    -webkit-flex: 1;
    flex: 1;
}

footer {
    -webkit-flex: none;
    flex: none;
    box-sizing: border-box;
    background: linear-gradient(to bottom,rgba(50,50,50,0) 60%,rgba(50,50,50,0.2) 100%);
    color: rgba(0,0,0,0.4);
}

footer .disclaimer {
    max-width: 500px;
}

header {
    transition-duration: 0.2s;
}

header.regular {
    max-height: 35px;
}

header.hidden {
    transform: translate(0,-35px);
    max-height: 0;
}

.center-logo-symbol {
    font-family: "Arial","Helvetica Neue",sans-serif;
    font-size: 128pt;
    opacity: 0.6;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transition: 0.2s ease-in;
}

.center-logo-symbol:hover {
    opacity: 0.9;
}

.top-bar {
    background: linear-gradient(to bottom,rgba(0,0,0,0.15) 0%,transparent 30%);
    height: 35px;
}

.top-bar .content {
    max-width: 1000px;
    margin: auto;
}

.top-bar li {
    display: inline;
    padding: 4px 8px;
    line-height: 35px;
}

.top-bar ul li {
    list-style-type: none;
}

.top-bar ul li a:link,.top-bar ul li a:visited {
    color: #666;
    text-decoration: none;
}

.top-bar ul {
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;
    float: left;
    font-size: 80%;
}

@media (max-width: 324px) {
    .top-bar ul.unimportant {
        display:none;
    }
}

.top-bar .right {
    float: right;
}

.smallcaps {
    font-variant: small-caps;
}

.bold {
    font-weight: bold;
}

.plaque {
    opacity: 0.8;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
    padding: 4px;
    border-radius: 2px;
}

.top-bar .plaque {
    font-size: 85%;
}

.center-text {
    font-size: 80%;
    text-align: center;
}

.content {
    max-width: 950px;
    margin: auto;
    padding: 0 20px;
}

.hidden {
    visibility: hidden;
}

.user-dropdown {
    position: fixed;
    width: 200px;
    top: 30px;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
    transition-duration: 0.2s;
    z-index: 10;
}

.user-dropdown>ul {
    list-style: none;
    line-height: 20px;
    padding: 0;
    margin: 0;
}

.user-dropdown>ul>li {
    width: 100%;
}

.user-dropdown>ul>li>a {
    padding: 20px 0;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 120%;
    color: #333;
}

.user-dropdown>ul>li:not(:last-child) {
    border-bottom: solid 1px #ddd;
}

.user-dropdown>ul>li:hover {
    background-color: #eee;
}

.user-dropdown.hidden {
    top: -500px;
}
