.logo {
    font-size: 80pt;
    color: #333;
    font-family: "Arial","Helvetica",sans-serif;
}

.form-top {
    text-align: center;
    font-size: 30pt;
    color: #666;
    margin-top: 30px;
}

.form-wrapper {
    background-color: rgba(0,0,0,0.05);
    max-width: 400px;
    margin: 10px auto;
    padding: 20px;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);
    border: 2px;
    color: #404040;
}

@media (max-width: 460px) {
    .form-wrapper {
        margin:10px;
    }
}

form input {
    background-color: rgba(0,0,0,0.05);
    box-sizing: border-box;
    width: 100%;
    margin: 6px 0;
}

form input[type=submit] {
    background: rgba(240,240,240,0.8);
    border: 1px solid #bbbbbb;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
    color: #666;
    height: 40px;
    font-size: 120%;
}

form input[type=submit]:hover {
    background: #f0f0f0;
}

form input[type=text],form input[type=password] {
    height: 40px;
    font-size: 120%;
    padding: 0 6px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
}

form input[type=text]:hover,form input[type=password]:hover {
    border: 1px solid #b9b9b9;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    padding: 6px;
}

form input[type=text]:focus,form input[type=password]:focus {
    border: 1px solid #eeeeee;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

div.g-recaptcha {
    margin: 0 auto;
    width: 304px;
}
