.upload-instruction {
    color: #666;
    font-weight: 400;
    text-align: center;
}

.upload-label {
    text-align: center;
}

.uploads {
    list-style: none;
    padding: 0 4px;
    max-width: 400px;
    margin: auto;
}

.uploads li {
    background-color: rgba(128,128,128,0.15);
    margin: 15px;
    padding: 8px;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.2);
    display: flex;
    display: -webkit-flex;
    justify-content: center;
}

.uploads div {
    margin: 0 10px;
    width: 270px;
    padding-right: 15px;
    align-self: center;
}

.uploads div span {
    text-overflow: ellipsis;
    max-width: 90%;
    white-space: nowrap;
    display: block;
    overflow: hidden;
}

.uploads.finished li:hover {
    cursor: pointer;
}

.uploads.finished li {
    background: rgba(255,255,255,0.3);
    border: 1px solid rgba(64,64,64,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.uploads.finished li a {
    width: 100%;
    height: 100%;
}

progress {
    display: block;
    width: 100%;
}

.uploads li img {
    max-height: 60px;
    max-width: 80px;
    margin: -8px 0 -8px -8px;
    opacity: 0.6;
}

.uploads.finished li img {
    opacity: 1;
}

.uploads.finished li a {
    text-overflow: ellipsis;
    max-width: 90%;
    white-space: nowrap;
    display: block;
    overflow: hidden;
}

.errors li {
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.6);
    background-color: #cc2222;
    color: white;
    padding: 10px;
    margin: 4px;
    list-style: none;
}
