{{ define "TopBar" }}

<header>
    <div class="top-bar">
        <div class="content">
            <ul class="unimportant">
                {{ if .NoJS }}
                    <li><a href="/nojs/" class="smallcaps bold">home</a></li>
                {{ else }}
                    <li><a href="/" class="smallcaps bold">home</a></li>
                {{ end }}
            </ul>
            <div class="right">
                <ul>
                    {{ if .NoJS }}
                        <li><a href="/paste" class="smallcaps bold">paste (leave nojs)</a></li>
                        <li><a href="/nojs/upload" class="smallcaps bold">upload</a></li>
                    {{ else }}
                        <li><a href="/paste" class="smallcaps bold">paste</a></li>
                        <li><a href="/upload" class="smallcaps bold">upload</a></li>
                    {{ end }}
                </ul>
                <ul>
                    {{ if not .NoJS }}
                        <li><a href="/login" class="plaque" id="topbar-account">Loading...</a></li>
                    {{ else }}
                        {{ if .SignedIn }}
                            <li><a href="/nojs/user/manage" class="plaque" id="topbar-account">{{ .Session.Username | html }}</a></li>
                        {{ else }}
                            <li><a href="/nojs/login" class="plaque" id="topbar-account">Not Signed In</a></li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
    <div class="user-dropdown hidden" id="user-dropdown">
        <ul>
            <li><a href="/user/manage">Manage Account</a></li>
            <li><a href="/user/uploads">Past Uploads</a></li>
            <li><a href="#" onclick="signOut()">Sign Out</a></li>
        </ul>
    </div>
</header>

{{ end }}