<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>λ | Login</title>
    <link rel="stylesheet" href="/static/hashed/css/{{ index .AssetMap "main.css" }}" type="text/css">
    <link rel="stylesheet" href="/static/hashed/css/{{ index .AssetMap "form.css" }}" type="text/css">

    {{ template "SharedHead" . }}
</head>

<body>
    <header>
        <div class="form-top">
            <div class="logo">λ</div>
            Sign In
        </div>
    </header>
    <main>
        <div class="form-wrapper">
            {{ if not .NoJS }}
                <noscript>
                    <p>
                        Looks like you have JavaScript disabled or NoScript blocking the login script. You need JavaScript enabled to use much of
                        Lambda, including to login. We respect your privacy and will not use JavaScript to track you.

                        Check out <a href="/nojs/">the nojs version of Lambda</a>
                    </p>
                </noscript>
            {{ end }}
            <div id="errorArea"></div>
            {{ if .NoJS }}
                <form action="/nojs/api/user/login" method="POST" id="loginForm">
            {{ else }}
                <form action="/api/user/login" method="POST" id="loginForm">
            {{ end }}
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" value="Sign In">
            </form>
        </div>
        <div class="center-text"><a href="/register">Create an account
        {{ if .NoJS }}
        (leaves NoJS)
        {{ end }}
        </a></div>
    </main>

    {{ if not .NoJS }}
        <script src="/static/hashed/js/{{ index .AssetMap "all.js" }}" defer></script>
        <script src="/static/hashed/js/{{ index .AssetMap "login.js" }}" defer></script>
    {{ end }}
</body>

</html>