<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>λ | Paste</title>
    <link rel="stylesheet" href="/static/css/main.css" type="text/css">
    <link rel="stylesheet" href="/static/css/paste.css" type="text/css">
    
    {{ template "SharedHead" . }}
</head>

<body>
    {{ template "TopBar" . }}

    <noscript>
        <span class="js-warning">Pastes need JavaScript enabled to function because they use end-to-end encryption</span>
    </noscript>

    <main>
        <label for="paste-area" class="paste-area-label" hidden></label><textarea class="paste-area" id="paste-area"></textarea>
    </main>

    <footer>
        <div class="bottom-buttons">
            <a href="#" id="codeToggleBtn">
                <div id="codeLabel">CODE: NO</div>
            </a>
            <a href="#">
                <div class="submit" id="submitBtn">SUBMIT</div>
            </a>
        </div>
    </footer>

    <script src="/static/js/all.js" defer></script>
    <script src="/static/js/topbar.js" defer></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/sjcl/1.0.6/sjcl.min.js" defer></script>
    <script src="/static/js/paste.js" defer></script>
</body>

</html>