<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>λ | Past Uploads</title>
    <link rel="stylesheet" href="/static/css/main.css" type="text/css">
    <link rel="stylesheet" href="/static/css/past_uploads.css" type="text/css">
    
    {{ template "SharedHead" . }}
</head>

<body>
    {{ template "TopBar" . }}

    <main class="content">
        <div id="selection-management" class="selection-manage hidden">
            <h3 id="numSelectedLabel">0 items selected</h3>
            <button onclick="deleteSelected()">Delete</button>
        </div>
        <noscript>
            <h2>JavaScript appears to be blocked or disabled. This page and most of Lambda will not work without JavaScript enabled.</h2>
        </noscript>

        {{ if .NoJS }}
            <h2 id="pageNum">Page {{ .PageNum }} of {{ .NumPages }}</h2>
        {{ else }}
            <h2 id="pageNum">Loading...</h2>
        {{ end }}

        <ul class="upload-container" id="uploads">
            {{ if .NoJS }}
                {{ range .PastUploads }}
                    <li title="{{ .LocalName }}">
                        <a href="/{{ .Name }}.{{ .Extension }}">
                        {{ if .HasThumbnail }}
                            <img src="/thumb_128x128_{{ .Name }}.jpg" alt="{{ .LocalName }}" class="wide">
                        {{ else }}
                            <img src="/generic/by-ext/{{ .Extension }}" alt="{{ .LocalName }}">
                        {{ end }}
                        </a>
                    </li>
                {{ end }}
            {{ end }}
        </ul>
        
        <div class="navRow">
            {{ if .NoJS }}
                {{ if not (eq .PageNum 1) }}
                    <a href="/nojs/user/uploads?page={{ add .PageNum -1 }}" id="goBack" onclick="prevPage(); return false;" class="navButton">Previous</a>
                {{ end }}

                {{ if not (eq .PageNum .NumPages) }}
                    <a href="/nojs/user/uploads?page={{ add .PageNum 1 }}" id="goNext" onClick="nextPage(); return false;" class="navButton">Next</a>
                {{ end }}
            {{ else }}
                <a href="" id="goBack" onclick="prevPage(); return false;" class="navButton hidden">Previous</a>
                <a href="" id="goNext" onClick="nextPage(); return false;" class="navButton hidden">Next</a>
            {{ end }}
        </div>
    </main>

    {{ if not .NoJS }}
        <script src="/static/js/all.js" defer></script>
        <script src="/static/js/topbar.js" defer></script>
        <script src="/static/js/past_uploads.js" defer></script>
    {{ end }}
</body>

</html>